*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
}


.cover{
    background-image: url(./pic.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: relative;
}
.box{
    width: 350px;
    height: 420px;
    background-color: red;
    position: absolute;
    top: 110px;
    left: 560px;
    border-radius: 20px;
    background: transparent;
    border: 2px solid  rgb(52, 225, 225);
    backdrop-filter: blur(15px);
}
h1{
    margin-left: 130px;
    font-size: 30px;
    margin-top: 60px;
    color: rgb(52, 225, 225);
}
.email input{
    width: 260px;
    height: 30px;
    position: absolute;
    top: 140px;
    left: 42px;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 2px solid  rgb(52, 225, 225);
    color: white;

}
.password input{
    
    width: 260px;
    height: 30px;
    position: absolute;
    top:240px ;
    left: 42px;
    border: none;
    outline: none;
    color: white;
    background: transparent;
    border-bottom: 2px solid rgb(52, 225, 225);
}
.forgot{
    position: absolute;
    top: 290px;
    left:42px ;
    color:  rgb(52, 225, 225);
    
    
   
}
.forgot a{
    text-decoration: none;
    margin-left: 20px;
    color: white;


}
.forgot a:hover{
    color: red;
    text-decoration: underline;
}
.btm{
    position: absolute;
    top:320px ;
    left: 42px;
    
    
}
.res{
    position: absolute;
    top:365px ; 
    left: 60px;
    color:  rgb(52, 225, 225);
}
.res a{
    text-decoration: none;
    color: white;
    
}
.res a:hover{
    color: red;
    text-decoration: underline;
}
.logo-one{
    position: absolute;
    color: rgb(52, 225, 225);
    left:280px ;
    top:140px ;
}
.logo-two{
    position: absolute;
    left: 280px;
    top: 240px;
    color: rgb(52, 225, 225);
}
.email label{
    position: absolute;
    top: 120px;
    left: 45px;
    font-size: 1em;
    color:  rgb(52, 225, 225);
   
}

.password label{
    position: absolute;
    top:220px ;
    left: 45px; 
    font-size: 1em;
    color:  rgb(52, 225, 225);
    

}
.btm button{
    width: 265px;
    padding: 5px;
    border-radius: 20px;
    border: 3px solid  rgb(52, 225, 225);
background-color:  rgb(52, 225, 225);
font-weight: bold;
cursor: pointer;
}
.btm button:hover{
    background: transparent;
    color: white;
}
